@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

.font-inter {
  font-family: "Inter", sans-serif; }

.font-lexend {
  font-family: "Lexend Deca", sans-serif; }

.font-size-15 {
  font-size: 15px; }

.bg-main {
  background: #090b1a; }

.bg-card {
  background: #1b1938; }

.accent {
  color: #aa5cdb; }

.main-head {
  color: white; }

.main-para {
  color: rgba(255, 255, 255, 0.75); }

.stat-head {
  color: rgba(255, 255, 255, 0.6); }

body {
  padding: 12% 10% 12% 10%;
  margin: 0;
  height: 100vh;
  width: 100vw; }
  body .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 475px; }
    body .container #card3 {
      display: none; }
    body .container .card-img {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(106, 5, 168, 0.5))), url("../images/image-header-desktop.jpg");
      background-image: linear-gradient(rgba(106, 5, 168, 0.5)), url("../images/image-header-desktop.jpg");
      background-size: cover; }
    body .container #card1 {
      padding: 6% 10% 0 6%;
      width: 52%;
      border-radius: 10px 0 0 10px; }
      body .container #card1 .main-header h1 {
        font-size: 2rem;
        margin-bottom: 1.5rem; }
      body .container #card1 .main-header p {
        margin-bottom: 4.5rem;
        width: 88%;
        line-height: 2; }
      body .container #card1 .statis {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        body .container #card1 .statis .bottom-stat {
          width: 12rem; }
          body .container #card1 .statis .bottom-stat h4 {
            font-size: 1.5rem;
            margin-bottom: 5%; }
          body .container #card1 .statis .bottom-stat p {
            text-transform: uppercase;
            font-size: 0.8rem; }
    body .container #card2 {
      border-radius: 0 10px 10px 0;
      width: 48%; }

@media screen and (max-width: 839px) {
  body {
    padding: 12% 10% 12% 10%;
    margin: 0;
    height: 100vh;
    width: 100vw; }
    body .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content; }
      body .container #card3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 400px;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(106, 5, 168, 0.5))), url("../images/image-header-mobile.jpg");
        background-image: linear-gradient(rgba(106, 5, 168, 0.5)), url("../images/image-header-mobile.jpg");
        background-size: cover; }
      body .container #card2 {
        display: none; }
      body .container #card1 {
        padding: 2rem 3rem 2rem 3rem;
        width: 100%; }
        body .container #card1 .main-header {
          margin-bottom: 2rem;
          text-align: center; }
          body .container #card1 .main-header h2 {
            font-size: 2rem;
            margin-bottom: 1.5rem; }
          body .container #card1 .main-header p {
            margin-bottom: 2rem; }
        body .container #card1 .statis {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          text-align: center; }
          body .container #card1 .statis #bottom-stat {
            margin: 1rem auto;
            text-transform: uppercase; } }
